name: data
permissions:
  contents: write
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/flat.yml
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.10.x
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://pudding.cool/2017/12/mars-data/marsWeather.json
          downloaded_filename: marsWeather.json
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://pudding.cool/2017/12/mars-data/earthWeather.json
          downloaded_filename: earthWeather.json
